.root{
-fx-background-color: #363636;
}
.toggle-button{
-fx-background-color: #4D4D4D;
-fx-text-fill: white;
}
.toggle-button:selected{
-fx-background-color: rgb(161, 57, 0);
}
.login-credentials{
-fx-background-color: transparent;
-fx-border-color: grey;
-fx-border-width: 2;
-fx-border-radius: 6;
-fx-text-fill: white;
}
.label{
-fx-font-size: 24PX;
-fx-text-fill: white;
}
.button{
-fx-background-color: #4D4D4D;
-fx-text-fill: white;
}
.button:hover{
-fx-background-color: grey ;
}
.choice-box{
-fx-background-color: #363636;
-fx-text-fill: black;
}
.choice-box .context-menu { -fx-background-color: black; }
#toprect{
-fx-fill: #212424;
}
#rect{
-fx-fill: rgb(161, 57, 0);
-fx-smooth: true;
}
#bookedRect{
-fx-fill: rgb(161, 57, 0);
}
.bookedLabel{
-fx-text-fill: black;
}
